.cloudzoom-zoom-inside {
  z-index:99999 !important;
  cursor:move;
}

div.ctools-modal-content.commerce-gallery {
  margin:0;
  padding:0;
  background: #FFFFFF;
  border: 3px solid #111;
  position: relative;
  overflow: hidden;
}

div.ctools-modal-content.commerce-gallery a.close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

div.ctools-modal-content.commerce-gallery a.close img {
  right: 6px;
  top: 6px;
  position: absolute;
}

div.ctools-modal-content table,
table.extra-images {
  margin:0;
  padding:0;
  width:auto;
}

div.ctools-modal-content .container .left {
  width: 400px;
}

div.ctools-modal-content .container #commerce-gallery td {
  padding: 6px;
}

div.ctools-modal-content .container #commerce-gallery td img {
  border: 1px solid #ccc;
  padding:2px;
  background: #fff;
}

div.ctools-modal-content .container #commerce-gallery td img:hover {
  background: #ccc;
}

#commerce-gallery-thumplains td {
  padding: 2px 5px;
}

.cloudzoom-ajax-loader {
  background-image:url('../images/spinner.png') !important;
}